@page

<environment include="Development">
    <div id="react-app" asp-prerender-module="ClientApp/dist/main-server">Loading...</div>
</environment>
<environment include="Production">
    <div id="react-app">Loading...</div>
</environment>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
